.stoplights-grid {
    display: grid;
    grid-template-columns: repeat(6, 10vw);
    grid-template-rows: repeat(6, 10vh);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#stoplightTop {
    grid-area: 1 / 2 / 2 / 3;
}

#stoplightBottom {
    grid-area: 6 / 5 / 7 / 6;
}

#stoplightRight {
    grid-area: 2 / 6 / 3 / 6;
}

#stoplightLeft {
    grid-area: 5 / 1 / 6 / 3;
}

#pedestrianStoplightBottom {
    grid-area: 6 / 2 / 7 / 6;
}

#pedestrianStoplightTop {
    grid-area: 2 / 5 / 7 / 6;
    justify-self: end;
    margin-right: 20px;
}

#pedestrianStoplightLeft {
    grid-area: 2 / 2 / 2 / 3;
}

#pedestrianStoplightRight {
    grid-area: 6 / 6 / 7 / 6;
}

.stoplight {
    background-color: black;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 2.5px;
    height: fit-content;
    width: fit-content;
}

.stoplight.stoplight-reverse {
    flex-direction: column-reverse;
}

.stoplight.stoplight-row {
    flex-direction: row;
}

.stoplight.stoplight-row-reverse {
    flex-direction: row-reverse;
}

.red-stoplight,
.yellow-stoplight,
.green-stoplight {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin: 2.5px;
    background-color: lightgray;
}

.red-stoplight.active {
    background-color: red;
    box-shadow: 0px 0px 32px 7px red;
}

.yellow-stoplight.active {
    background-color: orange;
    box-shadow: 0px 0px 32px 7px orange;
}

.green-stoplight.active {
    background-color: limegreen;
    box-shadow: 0px 0px 32px 7px limegreen;
}

.pedestrian-stoplight .red-stoplight.active {
    background-color: black;
    background-image: url(./img/red-ampelmännchen.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.pedestrian-stoplight .green-stoplight.active {
    background-color: inherit;
    background-image: url(./img/green-ampelmännchen.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.pedestrian-button {
    background-color: darkorange;
    background-image: url(./img/hand.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 25px;
    border-radius: 5px;
    margin: 2.5px;
    outline: none;
    border: none;
}

.pedestrian-button.active {
    animation: pedestrian-button-blinking 2s infinite;
}

@keyframes pedestrian-button-blinking {
    0% {
        background-color: darkred;
    }

    49% {
        background-color: darkred;
    }
    
    50% {
        background-color: darkorange;
    }

    99% {
        background-color: darkorange;
    }

    100% {
        background-color: darkred;
    }
}